<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/css/bootstrap-select.css" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.bundle.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/js/bootstrap-select.min.js"></script>

  <style>
  /* Style the input field */
  #myInput {
    padding: 20px;
    margin-top: -6px;
    border: 0;
    border-radius: 0;
    background: #f1f1f1;
  }
  </style>
</head>
<body>
<div class="container-fluid">
  
  <form method="post" novalidate>
    {% csrf_token %}
    <div class="container">
      <table  class="table table-dark table-borderless">
        {{ form}}
        <tr>
          <td><a href='#' class='count'> Select all countries </a></td>>
          <td><a href='#' class='comm'> Select all commodities </a></td>
          <td><a href='#' class='param'> Select all parameters </a></td>
        </tr>
      </table>
        
      <button type="submit" class="btn btn-primary btn-lg">Submit</button>
    </div>
  </form>
      
  <script>
    $('.count').click(function(){
    $('.countries').selectpicker('selectAll');
    echo("Selected All countries");})

    $('.comm').click(function(){
    $('.commodities').selectpicker('selectAll');
    echo("Selected All commodities");})
        
    $('.param').click(function(){
    $('.params').selectpicker('selectAll');
    echo("Selected All Parameters");})
  </script>
</div>
<a href="/ui/logout">CLICK HERE FOR LOGOUT</a>
</body>
</html>

