{% load static %}
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
<title>ITC KITES PROJECT/ MAKING OF REGULATORY PLATFORM</title>
</head>
<body>
    <div class="container-fluid">
<center><h3>THIS PAGE WILL GUIDE YOU TO VARIOUS FUNCTIONALITIES OF PLATFORM</h3></center>
<div class='container'>
<!-- <li> --><center>
    <div class="jumbotron"><h2><a href='/admin' class="active">CLICK HERE</a></h2> <p>for visiting the administration page.</p></div>

    <div class="jumbotron"><h2><a href='/ui/newform' class="active">CLICK HERE</a></h2> <p>for generating specification sheets.</p></div>
<!-- </li> --></center>>
</div>
</div>
</body>
</html>